body, html {
    height: 100%;
    margin: 0;
} 

.container {
    display: grid;
    box-sizing: border-box;
    height: 100%;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;

}

.header {
    background-color: white;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;

}

label {
    grid-row: 1 / 2;
    margin: 15px;
    display: grid;
    grid-template-columns: .08fr 1fr;
    align-items: center;
    gap: 1%;
}

input {
    border-radius: 40px;
    border: 1px solid black;
    grid-column: 2 / 3;
    width: 50%;
    height: 50%;

}

img {
    border-radius: 20px;
}

.sidebar {
    background-color: rgba(38, 190, 255, 0.992);
    color: white;
    font-size: 20px;
    display: grid;
    list-style: none;
    grid-row: 1 / 4;
    grid-column: 1 / 2;
}

ul {
    display: grid;
    list-style: none;
    grid-template-rows: .2fr repeat(3, .1fr) .2fr .1fr;
}

.dashboard {
    font-size: 30px;
    margin-left: -24%;
    text-align: center;
    font-weight: bolder;
}

.card {
    border: 1px solid black;
    height: 1fr;
    padding: 10px;
    text-align: center;
    background-color: white;
    margin: 12px;
    margin-top: 30px;
}

.article {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(50, 1fr));
    gap: 10px;
    background-color: rgb(228, 228, 228);
    font-size: 13px;
}

